*
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.developers
{
	width: 100vw;
	height: 100vh;
	background: #eee;
}

.developers > h1
{
	position: relative;
	top: 5vh;
	left: 5vw;
	font-family: 'Do Hyeon', sans-serif;
	letter-spacing: 3px;
	display: block;
	width: 16vw;
}

.developers > div
{
	border: 4px solid black;
	border-radius: 15px;
}

.developers > .nirav
{
	width: 20vw;
	height: 40vh;
	position: absolute;
	top: 12vh;
	left: 10vw;
	background: #ccc;
}

.developers > .saujas
{
	width: 20vw;
	height: 40vh;
	position: absolute;
	top: 12vh;
	left: 40vw;
	background: #ccc;
}

.developers > .sombudh
{
	width: 20vw;
	height: 40vh;
	position: absolute;
	top: 12vh;
	left: 70vw;
	background: #ccc;
}

.developers > .abhijit
{
	width: 20vw;
	height: 40vh;
	position: absolute;
	top: 55vh;
	left: 25vw;
	background: #ccc;
}

.developers > .neelabh
{
	width: 20vw;
	height: 40vh;
	position: absolute;
	top: 55vh;
	left: 55vw;
	background: #ccc;
}

.developers > div
{
	box-shadow: inset 5px -5px 5px black;
}

.developers > div > img
{
	width: 100%;
}

.developers > div > p
{
	text-align: center;
	transform: translateY(30px);
	font-size: 22px;
	font-family: 'Arvo', serif;
}

.developers > .closeBtnOne
{
	position: absolute;
	top: 18vh;
	right: 30vw;
	font-size: 40px;
	text-decoration: none;
	display: none;
	z-index: 6;
}

.developers > .closeBtnTwo
{
	position: absolute;
	top: 18vh;
	right: 30vw;
	font-size: 40px;
	text-decoration: none;
	display: none;
	z-index: 6;
}

.developers > .closeBtnThree
{
	position: absolute;
	top: 18vh;
	right: 30vw;
	font-size: 40px;
	text-decoration: none;
	display: none;
	z-index: 6;
}

.developers > .closeBtnFour
{
	position: absolute;
	top: 18vh;
	right: 30vw;
	font-size: 40px;
	text-decoration: none;
	display: none;
	z-index: 6;
}

.developers > .closeBtnFive
{
	position: absolute;
	top: 18vh;
	right: 30vw;
	font-size: 40px;
	text-decoration: none;
	display: none;
	z-index: 6;
}
